.fieldset-form {
  background-color: #8C8C88;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fieldset-form-edit {
  background-color: #9DA65D;
  display: flex;
  justify-content: center;
  align-items: center;
}